.App {
  text-align: center;
  margin:0 auto;
}

article{
  width:25vw;
  border:5px solid silver;
  margin:0 auto;
  margin-bottom: 1.2em;
  padding:16px;
  background-color: antiquewhite;
}
.postform{
  width:25vw;
  border:5px solid silver;
  margin:0 auto;
  padding:16px;
  background-color: bisque;
}
div.formcontrol{
  margin:0 auto;
  margin-bottom: 16px;
  text-align: left;
  width:80%;
}
textarea{
  padding:8px;
  width:100%;
}
select{
  padding:8px;
  width:100%;
}
input{
  padding:8px;
  width:100%;
}
.reactionButton{
  border:none;
  background-color: antiquewhite;
  font-size: 1.2em;
}